html {
  --background-color: black;
  --background-alt: #1e1e1e;
  --background-contrast: #3e3e3e;
  --text-color: white;
  --text-color-light: #d3d3d3;
  --font-family: "Inter", sans-serif;
  --font-family-alt: "Quicksand", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;
  --link-color: #2256f2;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
