.automatic {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  width: 100%;
  position: relative;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
  max-height: 70%;
  scrollbar-color: var(--background-contrast) var(--background-alt);
  box-sizing: border-box;
  position: relative;
}

.content {
  flex-grow: 2;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--background-contrast) var(--background-alt);
  box-sizing: border-box;
  padding: 18px;
  border: 1px solid var(--background-contrast);
  line-height: 24px;
  font-weight: 300;
  font-family: var(--font-family-secondary);
  background-color: #25262b;
  border-radius: 0.25rem;
}

.options {
  position: absolute;
  top: 24px;
  right: 24px;
}

.disclaimer {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-top: 24px;
  opacity: 0.5;
  line-height: initial;
}

.controls {
  flex-grow: 1;
  max-height: 30%;
}
