.newApplication {
  height: 75vh;
}

.output {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  border: 1px solid var(--background-contrast);
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .coverLetter {
    padding: 0;
    flex-grow: 1;
    height: 100%;
  }
}
